.navbar{
    height: 100px;
    
}
.navbar-brand{
    font-size: 28px;
}
.navbar-border-bottom{
    height: 5px;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}
.user-profile{
    height: 50px;
    width: 50px;
    border-radius: 30px;
    pointer-events:auto;
    border: 1px solid gray;
}
.nav-item a{
    color: #000;
    font-size: 18px;
}
.header-menu-icon{
    padding-right: 10px;
}
.user-header-wrapper{
    display: none;
}
.user-header-wrapper-active{
    display: block;
}
.c-header-default__user-dropdown {
    display: block;
    height: 320px;
    width: 280px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 105px;
  }
  .c-header-default__user-name {
    display: flex;
    align-items: center;
    padding: 22px 16px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
  }

  .c-header-default__img {
    width: 43px;
    height: 43px;
  }

  .c-header-default__drop-img {
    width: 100%;
  }

  .c-header-default__user-title {
    font-size: 14px;
    color: #000;
    margin: 0;
    font-weight: bold;
    margin-left: 13px;
  }

  .c-header-default__sub-title {
    font-size: 12px;
    color: #505050;
    font-weight: normal;
  }

  .c-header-default__user-list {
    padding: 22px 16px 22px 20px;
    border-bottom: 1px solid #e6e6e6;
  }

  .c-header-default__user-link {
    margin-bottom: 18px;
    display: flex;
    align-items: center;
  }
  .c-header-default__user-link a{
      text-decoration: none;
  }

  .c-header-default__user-link:last-child {
    margin-bottom: 0;
  }

  .c-header-default__anchor-link {
    display: flex;
    align-items: center;
    color: #505050;

    }
.c-header-default__user-logout {
    padding: 19px 30px;
    }
.header-icon{
    padding-right: 10px;
}