<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <i class="fa-solid fa-bars header-menu-icon" *ngIf="isMobileView"></i>
      <img src="../../../assets/160173300-initial-letter-cs-logotype-company-name-colored-blue-swoosh-design-concept-vector-logo-for-business-.jpeg" alt="" width="40" height="35" class="d-inline-block align-text-top">
      Mentor
    </a>
    <ul class="nav justify-content-center" *ngIf="!isMobileView">
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="internship">Internship</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="apply-jobs">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="q&a-fourm">Q&A Fourm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about-us">About Us</a>
      </li>
    </ul>
    <ul class="nav justify-content-end">
  
      <li class="nav-item" *ngIf="!isMobileView">
        <a class="nav-link" (click)="open_User_Dropdown()">Sujata</a>
      </li>
      <li class="nav-item" (click)="open_User_Dropdown()">
        <img class="user-profile" src="../../../assets/profile.jpeg"/>
      </li>
    </ul>
  </div>
</nav>
<div class="navbar-border-bottom"></div>
<div class="user-header-wrapper" [ngClass]="isShowHeaderDropdown ? 'user-header-wrapper-active' : ''">
  <div class="c-header-default__user-dropdown">
    <div class="c-header-default__user-name">
      <div class="c-header-default__img">
        <img src="../../../assets/profile.jpeg" class="c-header-default__drop-img" />
      </div>
      <p class="c-header-default__user-title">Sujata Panda
        <br />
        <span class="c-header-default__sub-title">CEO</span>
        
      </p>
      
    </div>
    <ul class="c-header-default__user-list">
      <li class="c-header-default__user-link"><a href="#" class="c-header-default__anchor-link"><i class="fa-solid fa-book-open-reader header-icon"></i>My Courses</a></li>
      <li class="c-header-default__user-link"><a href="#" class="c-header-default__anchor-link -anchor"><i class="fa-solid fa-certificate header-icon"></i>Certifications</a></li>
      <li class="c-header-default__user-link"><a href="#" class="c-header-default__anchor-link -anchor"><i class="fa-solid fa-briefcase header-icon"></i>Applied Jobs</a></li>
    </ul>
    <div class="c-header-default__user-logout">
      <a href="#" class="c-header-default__logout">
        <i class="fa-solid fa-right-from-bracket header-icon"></i>Logout
      </a>
    </div>
  
  </div>
</div>
