.c-footer{
    height: 300px;
    background: linear-gradient(180deg, #FFFFFF 0%, #555454 100%), linear-gradient(90deg, #FFFFFF 0%, #535353 100%), #93dada;
    background-blend-mode: multiply, screen, normal;
}